#addData {
  margin: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#addData input {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 5px;
}

#addData button {
  text-transform: capitalize;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

#addData button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .5s;
  transition: .5s;
}
/*# sourceMappingURL=style.css.map */