#addData{
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input{
        border: none;
        outline: none;
        border-bottom: 1px solid;
        padding: 5px;
    }
    button{
        text-transform: capitalize;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-radius: 0;
        transition: .5s;
    }
    button:active{
        transform: scale(.8);
        transition: .5s;
    }
}